
/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    background: #aaaaaa;
}

h2,
h3 {
    margin-top: 0;
}

h2,
h3,
a {
    color: #021724;
}

h3 {
    text-transform: capitalize;
    font-size: 1.2em;
    padding-top: 1.1em;
}

p {
    font-size: 1em;
    margin-bottom: 1.6em;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* Navigation */

.name a,
.main-nav li a {
    color: #3a4664;
}

.name {
    font-size: 2em;
    margin: 0;
}

.main-nav {
    margin-top: 5px;
}

.main-nav a,
.name a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}
.main-nav li {
    background: #fff;
    margin: 0 30px 10px 30px;
}

.main-nav a ,
.headline {
    font-size: 1.2em;
	color: #000000;
    text-transform: uppercase;
    font-weight: 700;
}

.main-nav a:hover {
	color: #eb8a0b;
}

.footer-nav {
    display: none;
}

.sub-heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    padding-top: 2em;
    padding-bottom: 1.2em;
}

.contact-info li {
    padding-bottom: .5em;
}

.contact-info a {
    font-weight: 700;
    padding-left: 2em;
}

.skill-name {
    font-weight: 700;
    padding-right: 20px;
}

/* ---- Layout Containers ---- */
.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}

.banner,
.main-footer,
.portfolio-col
 {
    text-align: center;
}

.banner {
    padding: 3.2em 2em;
	margin-bottom: 60px;
}

.main-content {
    background: #ffdbdc;

}

.portfolio-col
{
	padding-right: 2em;
    padding-left: 2em;
}

.portfolio-col:last-child {
    padding-bottom: 2em;
}

.skills-section {
    background: #eaa0a2;
    text-align: center;
}

.heading-div {
    padding-bottom: 5em;

}
.footer-name{
    width: 40%;
    float: left;
    text-align: left;
    font-size: 1.3em;
    font-weight: 700;
    padding-bottom: 1.3em;
    padding-left: 1em;
}

.footer-top {
    width: 60%;
    float: right;
    text-align: right;
    font-size: 1.3em;
    font-weight: 700;
    padding-right: 1em;

}

/* ---- Page Elements ---- */

.logo {
    width: 300px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


/* ================================= 
  Media Queries Styles
==================================== */

/* Media queries for tablet view */

@media (min-width: 768px) {

    .container {
        width: 90%;
        margin: 0 auto;
        }
        
    .main-nav {
        text-align: center;
    }

    .main-nav li {
        display: inline-block;
        background:#aaaaaa;
        text-align: center;
        margin: 0;
    }

    .logo {
        float: right;
        margin-left: 1em;
        width: 220px;
    }

    .banner {
        padding: 0 2em;
        margin-bottom: 60px;
    }
    .banner p {
        text-align: left;
    }

    .portfolio-col {
        width: 50%;
        float: left;
    }

    .footer-top {
        display: none;
    }

    .footer-nav  {
        display: block; /* to display hidden footer nav */
        width: 60%;
        float: right;
        text-align: right;
    }

    .footer-nav li {
    display: inline-block;
    margin-right: 20px;  
    }

    .footer-nav ul {
        margin: 0;
    }

    .footer-nav li a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 700;
        color: black;
    }

    .contact-info p {
        padding: 0 5em;;
    }

}


/* Media queries for desktop view */
@media (min-width: 1024px) {

    .container {
        width: 80%;
        max-width: 1150px;
        }

    .name {
        float: left;
    }

    .main-nav {
        float: right;
    }

    .portfolio-col {
            width: 33.33%;
            float: left;
        }

}